<div class="navbar navbar-scroll-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage') }}">git.MattConn.io</a>
            <div class="nav-collapse">
                <ul class="nav pull-left">
                    <li><a href="{{ path('homepage') }}">Repositories</a></li>
                    <li><a href="http://mattconn.io/">Developer Page</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
